<!DOCTYPE html>
<html>
	<head>
		<title>delete contact</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"></link>
         <script src="https://kit.fontawesome.com/09cae0c876.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="delete">
			<i class="fa-solid fa-trash d_trash"></i>
		<h3>Remove contact</h3><br><br>
		<form action="/deleterecord" method="post">
			<p>Contact  Name</p>
			<div class="delete_input">
				<input type="text" name="names">
				<input type="submit" value="SUBMIT">
			</div>
			    <i class="fa fa-arrow-left d_back" aria-hidden="true"></i>

				<a class="delete_a" href="/">Go Back To Home Page</a>
		</form>
		</div>
	</body>
</html>
		