<!DOCTYPE html>
<html>
	<head>
		<title>Search Result</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
		<script src="https://kit.fontawesome.com/09cae0c876.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<h3 class="not_h3">search result</h3>
		<table class="display">
			<thead>
				<td>Sno</td>
				<td>Name</td>
				<td>Email</td>
				<td>Number</td>
			</thead>
			<tr>
				<td>{{out[0]}}</td>
				<td>{{out[1]}}</td>
				<td>{{out[2]}}</td>
				<td>{{out[3]}}</td>
			</tr>			
		</table>
		<div class="search_a">
		    <i class="fa fa-arrow-left s_back" aria-hidden="true"></i>
		<a href="/" style="display:block;">Go Back To Home Page</a>
			<i class="fa-solid fa-trash s_trash"></i>
		<a href="/delete">Delete contact</a>
		</div>
	</body>
</html>